body { 
    font-family: 'Poppins', sans-serif; 
    color: #444; 
}

h1, h2, h3 { 
    font-family: 'Playfair Display', serif;
}

.bg-luxury {
     background-color: #ffeff0; 
}

.card-service { 
    border: none; 
    transition: transform 0.3s; 
    background: #fff; 
}

.gallery-img { 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: 0.3s; 
}
.gallery-img:hover { 
    opacity: 0.8;
}
footer { 
    background: #333;
     color: white; 
     padding: 40px 0;
}


.btn-contato{
    background-color: #eea1a6 !important;
    color: #fff;
}
.img-logo{
   height:150px;
   margin:0.5rem;
  
}

h2{
    color: #000;
}



h3{
    color: #fff;
    min-height: 15%;
    align-items: end;
    font-size: 1.1rem !important;
}

.h3-fiscal{
    display: flex;
    justify-content: center;
    align-items: center;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

span{
    color: #eea1a6;
}


.img-content{
    position: absolute;
    top: -40px;
    
    height: 50px;
    width: 50px;
}




ol li{
    list-style: disc;
    font-size: 1rem;
    color: #fff;
}


/* teste de transição */
@media(min-width:1100px){
.card-service {
    position: relative;
    min-height: 300px;
    
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    overflow: auto;
}

/* Título centralizado inicialmente */
.card-service h3 {
     width: max-content;
    position: absolute;
    margin: 0 1rem;
    width: 80%;
    top: 40%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    transition: all 0.4s ease;
}

/* Lista escondida */
.card-service ol {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    margin-top: 60px;
}

/* Hover */
.card-service:hover h3 {
    top:10px;
    /* left: 20px; */
    
}

.card-service:hover ol {
    opacity: 1;
    transform: translateY(0);
}

}
/* --------------------- */



.img-logo-footer{
    position:relative;
    z-index: 3;
    margin-right: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.btn-contact{
    width: 90%;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #fff;
    margin: 0rem .5rem;
    border-radius: 22px;
    border: 1px solid #333;
    
    text-transform: capitalize;
}

.btn-wapp{
    background-color: #25D366;
}
.btn-instagram{
   background-color: #E1306C;
}
.btn-linkedin{
    background-color: #0A66C2;
}




.logo-btn{
    position: relative;
    top: -20px;
    height: 30px;
    
}

 .btn-social {
    padding: .5rem 1rem;
      border-radius: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 .5rem;
      color: white;
      font-size: 1rem;
      text-decoration: none;
      transition: transform 0.2s ease;
      text-transform: capitalize;
    }

    .btn-social:hover{
        opacity: .9;
    }


    /* WhatsApp */
    .whatsapp {
      background-color: #25D366;
    }

    /* Instagram (gradiente oficial) */
    .instagram {
      background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
    }

    /* LinkedIn */
    .linkedin {
      background-color: #0A66C2;
    }
  
.text-email p{
    padding: 0;
    font-size: 1rem;
}

@media(max-width:1200px){
    im

    h3{
        height: auto;
    }

    .img-logo{
   height:120px;
   margin:0.5rem;
  
}

}



@media(max-width:500px){

h3{
    height: auto;
}

.img-logo{
    display: none;
  
}

header{
    height: auto;
}

p{
    font-size: .925rem;
}


/* styte btn */

.img-content{
    position: absolute;
    top: -40px;
    right:20px;
    height: 50px;
    width: 50px;
}

ol li{
    list-style: disc;
    font-size: .82rem;
    color: #fff;
}

.img-logo-footer{
    position:relative;
    z-index: 3;
    margin-right: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.btn-contact{
    width: 90%;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #fff;
    margin: 0rem .5rem;
    border-radius: 22px;
    border: 1px solid #333;
    
    text-transform: capitalize;
}

.btn-wapp{
    background-color: #25D366;
}
.btn-instagram{
   background-color: #E1306C;
}
.btn-linkedin{
    background-color: #0A66C2;
}




.logo-btn{
    position: relative;
    top: -20px;
    height: 30px;
    
}

 .btn-social {
    padding: .5rem 1rem;
      border-radius: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 .5rem;
      color: white;
      font-size: 1rem;
      text-decoration: none;
      transition: transform 0.2s ease;
      text-transform: capitalize;
    }


    /* WhatsApp */
    .whatsapp {
      background-color: #25D366;
    }

    /* Instagram (gradiente oficial) */
    .instagram {
      background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
    }

    /* LinkedIn */
    .linkedin {
      background-color: #0A66C2;
    }
  
.text-email p{
    padding: 0;
    font-size: .829rem;
}

}